.header{
    background-color: aqua;
    position: sticky;
    top: 0;left: 0;
    z-index: 1000;
}
.header .flex{
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    max-width: 1200px;
    margin: 0 auto;

}
.header .flex .logo{
    margin-right: auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight:bolder;
    font-size: 4rem;
    color:black;
}
.header .flex .navbar a{
    margin-left: 6rem;
    font-size: 2rem;
    font-weight: bold;
    color: black;
}

.header .flex .navbar a:hover{
    background-color: rgb(174, 165, 165);
    padding: 14px 12px;
}




/************************************Register***************************************************/

@import url();
:root{
    --purple:#8e44ad;
    --red:#c0392b;
    --orange:#f39c12;
    --black:#333;
    --white:#fff;
    --light-color:#666;
    --light-white:#ccc;
    --light-bg:#f5f5f5;
    --border:0.5rem solid var(--black);
    --box-shadow:0.5rem 0.5rem rgba(0,0,0,.1); 
}

*{
    font-family: 'Rubik', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .2s linear;
}

*::selection{
    background-color: var(--purple);
    color: var(--white);
}

*::-webkit-scrollbar{
    height: .5rem;
    width: 0.2rem;
}

*::-webkit-scrollbar-track{
    background-color: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: var(--white);
}     

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

.container{
    max-width: 1150px;
    margin: 0 auto;
}
section{
    padding: 2rem;
}
.heading{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    font-size: 3.5rem;
    text-transform: uppercase;
    color: black;
    margin-bottom: 2rem;
}

.btn,
.option-btn,
.delete-btn,
.white-btn{
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    cursor: pointer;
    color: var(--white);
    font-size: 1.8rem;
    border-radius: .5rem;
    text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover{
    background-color: var(--black);
}

.white-btn,
.btn{
    background-color: var(--purple);
}

.option-btn{
    background-color:var(--orange);
}

.delete-btn{
    background-color: var(--red);
}

.form-container{
    min-height: 100vh;
    background-color: var(--light-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}


.form-container form{
    padding: 2rem;
    width: 50rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    background-color: var(--white);
    text-align: center;
}

.form-container form h3{
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--black);
}

.form-container form .box{
    width: 100%;
    border-radius: .5rem;
    background-color: var(--light-bg);
    padding: 1.2rem 1.4rem;
    font-size: 1.8rem;
    color: var(--black);
    border:var(--border);
    margin: 1rem 0;
}

.form-container form p{
    padding-top: 1.5rem;
    font-size: 2rem;
    color: var(--black);
}

.form-container form p a{
    color: var(--purple);
}

.form-container form p a:hover{
    text-decoration: underline;
}





/****************************************************Add_[Display product]Product*********************************************/

.add-product-form{
    max-width: 50rem;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: .2rem;
    background-color: lightgrey;
    border: var(--border);
}
.add-product-form h3{
    color: black;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase
}
.add-product-form .box{
    text-transform: none;
    border-radius: .5rem;
    padding: 1.2rem .5rem;
    font-size: 1.7rem;
    margin: 1rem 0;
    background-color: white;
    color: #000;
    width: 100%;
    border: var(--border);
}
.display-product-table table{
    width: 100%;
    text-align: center;
}
.display-product-table table thead th{
    padding: 1.5rem;
    font-size: 2rem;
    background-color: black;
    color: white;
}
.display-product-table table td{
    padding: 1.5rem;
    font-size: 2rem;
    color: black;

}
.display-product-table table td:first-child{
    padding: 0;
}
.display-product-table table tr:nth-child(odd){
    background-color: paleturquoise;
}

.display-product-table .empty{
    margin-bottom: 2rem;
    text-align: center;
    background-color: grey;
    color: #000;
    font-size: 2rem;
    padding: 1.5rem;
}

/***************************************************************edit_product******************************************/

.edit-form-container{
    position: fixed;
    top: 0; left: 0;
    z-index: 1100;
    background-color: darkgrey;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}
.edit-form-container form{
    width: 50rem;
    border-radius: .5rem;
    background-color: white;
    text-align: center;
    padding: 2rem;
}
.edit-form-container form .box{
    width: 100%;
    background-color: gray;
    border-radius: .5rem;
    margin: 1rem 0;
    font-size: 1.7rem;
    color: black;
    padding: 1.2rem 1.4rem;
    text-transform: none;
}

/************************** product************************************/


.product .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, 35rem);
    gap: 2rem;
    justify-content: center;
}
.product .box-container .box{
    text-align: center;
    padding: 2rem;
    box-shadow: black;
    border: var(--border);
    border-radius: .5rem;
    
}
.product .box-container .box img{
    height: 25rem;
}
.product .box-container h3{
    margin: 1rem 0;
    font-size: 2rem;
    color: black;
}
.product .box-container .price{
    font-size: 2rem;
    color: black;
}


/*************************************************shopping cart********************************************/
.shopping-cart table{
    text-align: center;
    width: 100%;
}
.shopping-cart table thead th{
    padding: 1.5rem;
    font-size: 2rem;
    color: white;
    background-color: black;
}
.shopping-cart table tr td{
    border-bottom: var(--border);
    padding: 1.5rem;
    font-size: 2rem;
    color: black;
}
.shopping-cart table input[type="number"]{
    border: var(--border);
    padding: 1rem 2rem;
    font-size: 2rem;
    color: black;
    width: 10rem;
}
.shopping-cart table input[type="submit"]{
    padding: .5rem 1.5rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: blue;
    color: white;
    width: 10rem;
}
.shopping-cart table input[type="submit"]:hover{
    background-color: black;
}
.shopping-cart table .table-bottom{
    background-color: lightgrey;
}
.shopping-cart .checkout-btn{
    text-align: center;
}
.shopping-cart .checkout-btn a{
    display: inline-block;
    width: auto;
}
.shopping-cart .checkout-btn a.disabled{
    pointer-events: none;
    opacity: .5;
    user-select: none;
    background-color: red;
}





/************************index************************************************/
h6{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-bottom: 2rem;
    text-decoration: underline;
}



/**********************************************************Rent************************************************

.checkout-form form{
    padding: 2rem;
    border-radius: .5rem;
    background-color: grey;

}
.checkout-form form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.checkout-form form .flex .inputBox{
    flex: 1 1 40rem;
}
.checkout-form form .flex .inputBox span{
    font-size: 2rem;
    color: black;
}
.checkout-form form .flex .inputBox input,
.checkout-form form .flex .inputBox select{
    width: 100%;
    background-color: white;
    font-size: 1.5rem;
    color: blue;
    border-radius: .5rem;
    margin: 1rem 0;
    padding: 1rem .5rem;
    text-transform: none;
    border:var(--border) ;
}
.display-order{
    max-width: 50rem;
    background-color: white;
    border-radius: .5rem;
    text-align: center;
    padding: 1.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow);
    border: var(--border);   
}
.display-order span{
    display: inline-block;
    border-radius: .5rem;
    background-color: grey;
    padding: .5rem 1.5rem;
    font-size: 2rem;
    color: #000;
    margin: .5rem;
}
.display-order span.grand-total{
    width: 100%;
    background-color: red;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}
.order-message-container{
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    background-color: darkgray;
    width: 80%;
}
.order-message-container::-webkit-scrollbar{
    width: 1rem;
}
.order-message-container::-webkit-scrollbar-track{
    background-color: darkgray;
}
.order-message-container::-webkit-scrollbar-thumb{
    background-color: blue;
}

.order-message-container .message-container{
    width: 50rem;
    background-color: white;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}
.order-message-container .message-container h3{
    font-size: 2.5rem;
    color: blue;
}
.order-message-container .message-container .order-detail{
    background-color: gray;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem 0;
}
.order-message-container .message-container .order-detail span{
    background-color: white;
    border: .5rem;
    color: black;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 1rem ;
}
.order-message-container .message-container .order-detail span.total{
    display: block;
    background: red;
    color: white;
}
.order-message-container .message-container .customer-details{
    margin: 1srem 0;
}
.order-message-container .message-container .customer-details p{
    padding: 1rem 0;
    font-size: 2rem;
    color: black;
}
.order-message-container .message-container .customer-details p span{
    color: blue;
    padding: 0 .5rem;
    text-transform: none;
}


******************************/

/*---------------------------------rent1` page--------------------*/
.checkout-form form{
    padding: 2rem;
    border-radius: .5rem;
    background-color: grey;

}
.checkout-form form .flex{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.checkout-form form .flex .inputBox{
    flex: 1 1 40rem;
}
.checkout-form form .flex .inputBox span{
    font-size: 2rem;
    color: black;
}
.checkout-form form .flex .inputBox input,
.checkout-form form .flex .inputBox select{
    width: 100%;
    background-color: white;
    font-size: 1.5rem;
    color: blue;
    border-radius: .5rem;
    margin: 1rem 0;
    padding: 1rem .5rem;
    text-transform: none;
    border:var(--border) ;
}
.display-order{
    max-width: 50rem;
    background-color: white;
    border-radius: .5rem;
    text-align: center;
    padding: 1.5rem;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: var(--box-shadow);
    border: var(--border);   
}
.display-order span{
    display: inline-block;
    border-radius: .5rem;
    background-color: grey;
    padding: .5rem 1.5rem;
    font-size: 2rem;
    color: #000;
    margin: .5rem;
}
.display-order span.grand-total{
    width: 100%;
    background-color: red;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}
.order-message-container{
    position: fixed;
    top: 0; left: 0;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1100;
    background-color: darkgray;
    width: 80%;
}
.order-message-container::-webkit-scrollbar{
    width: 1rem;
}
.order-message-container::-webkit-scrollbar-track{
    background-color: darkgray;
}
.order-message-container::-webkit-scrollbar-thumb{
    background-color: blue;
}

.order-message-container .message-container{
    width: 50rem;
    background-color: white;
    border-radius: .5rem;
    padding: 2rem;
    text-align: center;
}
.order-message-container .message-container h3{
    font-size: 2.5rem;
    color: blue;
}
.order-message-container .message-container .order-detail{
    background-color: gray;
    border-radius: .5rem;
    padding: 1rem;
    margin: 1rem 0;
}
.order-message-container .message-container .order-detail span{
    background-color: white;
    border: .5rem;
    color: black;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: 1rem ;
}
.order-message-container .message-container .order-detail span.total{
    display: block;
    background: red;
    color: white;
}
.order-message-container .message-container .customer-details{
    margin: 1srem 0;
}
.order-message-container .message-container .customer-details p{
    padding: 1rem 0;
    font-size: 2rem;
    color: black;
}
.order-message-container .message-container .customer-details p span{
    color: blue;
    padding: 0 .5rem;
    text-transform: none;
}



/**********************************BOOK SEARCH********************************

body .bookimage {
    background-image: url(bookpic.jpg) !important;
    background-size: cover;
    padding: 600px 0 180px 0;
}

.bookimage {
    padding: 40px;
    margin-bottom: 22px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background-color: #2e9df7;
    -webkit-box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.25) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.25) inset;
    box-shadow: 0 15px 15px -15px rgba(0, 0, 0, 0.25) inset, 0 -15px 15px -15px rgba(0, 0, 0, 0.25) inset;
}

.bookimage form {
    position: relative;
    width: 540px;
    margin: 22px auto 0;
}


*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 20px;
}

.banner{
    position: relative;
    width: 90%;
    margin: 0 auto;
}
.heading{
    
    color: red;
    font-size: 3rem;
    position:absolute;
    top: 100%;
    left:50%;
    text-align: center;
    transform:translate(-50%,-50%);


}


/*
span {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}


.bookimage form input[type="text"] {
    padding: 15px 20px;
    padding-right: 100px;
    border-color: black;
    border-radius: 4px;
}
input.InputBox{
    font-family: "lucida grande", "Lucida Sans Unicode", tahoma, sans-serif;
    color: #333;
    font-size: 15px;
    padding: 3px;
    margin: 0;
    width: 250px;
    background: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.4);
}


input[type=text] {
    box-sizing: border-box;
}

.InputBox {
    display: block;
    width: 100% !important;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 22px;
    border-radius: 4px;
}

.bookimage form input[type="submit"] {
    position: absolute;
    top: 5px;
    right: 5px;
    float: right;
    padding: 10px 25px;
}

body .Button, body .button {
    background-color: #1268b3;
    background-image: none;
}


input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.Button, .Button:hover, .Button:focus, .Button:active {
    text-shadow: none;
    border-color: transparent;
}

.Button {
    display: inline-block;
    padding: 6px 12px;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    border: transparent solid 1px;
    border-radius: 3px;
    -webkit-transition: -webkit-box-shadow 50ms;
    transition: -webkit-box-shadow 50ms;
    -o-transition: box-shadow 50ms;
    transition: box-shadow 50ms;
    transition: box-shadow 50ms, -webkit-box-shadow 50ms;
    -webkit-font-smoothing: inherit;
    color: #fff;
    background-color: #2e9df7;
    background-repeat: repeat-x;
    background-color: #38a2f7;
    background-image: -webkit-linear-gradient(#38a2f7, #2498f7);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#38a2f7), to(#2498f7));
    background-image: -o-linear-gradient(#38a2f7, #2498f7);
    background-image: linear-gradient(#38a2f7, #2498f7);
}



/**********************************Book_Search***********************************************

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

.container1{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: var(--light-color);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

**********/



/**************************Forget*************************/

h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-size: 2.5rem;
    text-transform:capitalize;
    color: black;
    margin-bottom: 0.5rem;
}


/*************************************Order Page *************************************/

td, th {
    border: 1px solid #999;
    padding: 20px;
    text-align: center;
  }
  th {
    background: brown;
    color: black;
    font-weight:900;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    border-radius: 0;
    position: sticky;
    top: 0;
    padding: 10px;
  }
  .primary{
    background-color: #000000
  }
  
  tfoot > tr  {
    background: black;
    color: white;
  }
  tbody > tr:hover {
    background-color: #ffc107;
  }



  /********************************Home Paragah********/
  *{
    margin: 0px;
    padding: 0px;
  }

  .bigimage{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url('bookpic.jpg');
    background-size: cover;
  }

  .overlay{
    width: 100%;
    height: 100%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .overlay p{
    font-family: 'Times New Roman', Times, serif;
  }






















